---
layout: default
title: Blog
permalink: /blog/
---


<!-- <h1 class="blog-archive"> Latest post </h1>


{% for post in site.posts %}
	  <div class="blog-wrapper">
<a href="{{ post.url | prepend: site.baseurl }}"><div class="post-title post-title-link">{{ post.title }}</div></a>
		  <a class="twitter-timeline" href="https://twitter.com/StokesLabOx?ref_src=twsrc%5Etfw">Tweets by StokesLabOx</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	  
<div class="post-date">{{ post.date | date: "%-d %B, %Y" }} {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>

    <div class="post-content post-excerpt">{{ post.excerpt }} [ <a href="{{ post.url | prepend: site.baseurl }}">...Read on...</a> ]</div>
</div> */ 
{% endfor %}

<!-- <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button_count" style="position: relative; top: -8px; left: 33px;"></div>


  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
  <a href="{{site.url}}/blog-archive/">Blog archive</a>

<div class="blog-more">

	<a href="{{site.url}}/blog-archive/">Blog archive</a>
	<p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->

<!-- <h1 class="blog-archive"> Blog archive </h1>
{% for post in site.posts %}



		<div class="archive-wrapper">
			<div class="archive-date">{{ post.date | date: "%-d %B, %Y" }}</div>
			<div class="archive-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
		</div>

{% endfor %}

<h1 class="blog-archive"> Subscribe </h1>
<p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
 
