$content-width: 60vw;
$content-width-max: 60vw;
$title-font-size: 7.5vw;
$title-line-height: 12vw;
$logo-size: 12vw;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: black;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #1D1425;

/**,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/

/* global reset of all browser defaults */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
	margin: 0;
	padding: 0;
/*	background: #b2b2b2;
*/	background: white;
}

.site-wrapper {
	padding: 0;
	margin: 0px auto;
	margin-top: 4vh;
    width: $content-width;
	max-width: $content-width-max;

	justify-content: center;
	align-items: center;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	/*line-height: 1.6;*/
	-webkit-font-smoothing: antialiased;

}

.header {
/*	max-width: $content-width;
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;*/
	background-color: white;
	width: $content-width;
	max-width: $content-width-max;
	margin-bottom: 5vw;
	margin-top: 0;
	padding: 0;

   -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  -webkit-justify-content: space-between; 
  justify-content: space-between;
  /*line-height: 200%;*/
/*  height: 10vh;
*/}

.site-title {
/*width: 400px;
*/  font-size: $title-font-size;
/*  display: inline;
*/  vertical-align: center;
  line-height: $title-line-height;
  text-decoration: none;
	color: black;
 /* background-color: green;*/
}

.site-title a, a:visited, a:hover{
	text-decoration: none;
	color: black;
}

.header img{
	height: $logo-size;
}

.menu {

  width: 100%;
   -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  -webkit-justify-content: space-between; 
  justify-content: space-between;
    
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: bold;
  font-size: 100%;
  background-color: #d2d2d2;
  margin-top: 3vw;

}

.menu-item-wrapper {
    padding-right: 4vw;
    background-color: white;
	flex: 1;
	width: 100%;
	
   /* flex-grow: 1;*/
/*    flex-basis: 0;
*/    

}

.menu-item-wrapper a{
	text-decoration: none;
}

.menu-item {
/*	padding-right: 50px;
*/    background-color: white;
	padding-top: 0.5vw;
    border-top: 0.5vw solid black;
    text-align: left;
    font-size: 1.5vw;
}

.menu-item:hover {
    /*background-color: #f2f2f2;*/
    border-top: 0.5vw solid black;
    color: red;
}

.menu div:last-child{
	padding-right: 0;
}

/*.menu-item:last-of-type { border-right: none; }
*/


h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

.content {
	padding: 0 15px;
/*	margin: 0 auto;
*/	background-color: #f3f3f3;
}

.footer {
	text-align: center;
/*	padding: 40px;
*/	background-color: #a2a2a2;
}
