<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:300|Roboto:200" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head> 


  <body>

<!--   	<div class="site-wrapper2">
 -->
<div class="header-wrapper">
 <div class="header">
		
		<div class="logo">
		<a href="{{ site.url }}"><div class="logo-img"><img src="/images/logo_small-01.png" alt="The Stokes Lab"></div></a>
		
		<div>

			<a href="{{ site.url }}"><div class="site-title">{{ site.title }} </div>
			<div class="undertitle"> University of Oxford </div></a>
		</div>

<!-- 			<div class="container">
 -->	</div>
		<div class="menu">
			<!-- {% for page in site.pages %} {% if page.title %}
			<div class="menu-item-wrapper"><a href="{{ page.url | prepend: site.baseurl }}"><div class="menu-item">{{ page.title }}</div></a></div>
			{% endif %} {% endfor %} -->

			
			<div class="menu-item-wrapper"><a href="{{ site.baseurl }}/research/"><div class="menu-item">research</div></a></div> 
			<div class="menu-item-wrapper"><a href="{{ site.baseurl }}/people/"><div class="menu-item">people</div></a></div> 
			<div class="menu-item-wrapper"><a href="{{ site.baseurl }}/publications/"><div class="menu-item">publications</div></a></div> 
			<div class="menu-item-wrapper"><a href="{{ site.baseurl }}/blog/"><div class="menu-item">blog</div></a></div> 
			<div class="menu-item-wrapper"><a href="{{ site.baseurl }}/contact/"><div class="menu-item">contact</div></a></div> 
			<div class="menu-item-wrapper"><a href="https://twitter.com/StokesLabOx" target="_blank"><div class="menu-item"><i class="fab fa-twitter-square"></i></div></a></div>
			



		</div>

<!-- 			</div>
 -->		
		</div>
	</div>
	<div class="site-wrapper">

		

		<div class="content">
			{{ content }}
		</div>

		

	</div>
<!-- </div>
 -->
	<div class="footer">
			&copy; Stokes Lab {{ 'now' | date: "%Y" }} | University of Oxford | website built using <a target="_blank" href="https://jekyllrb.com/">Jekyll</a> and <a target="_blank" href="https://pages.github.com/">GitHub Pages</a> 
	</div>
</body>


</html>
